
main{
    padding: 10px;
   
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.portfolio__grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.portfolio__grid--style , img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    
}
@media screen and (min-width: 780px){
    .portfolio__grid{
        display: grid;
        grid-template-columns:  15em 15em 15em;
        grid-template-rows:  15em 15em ;
        grid-gap: 10px;
        transition: 2s;
       
    }

    
}

